<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheet %}{% endblock %}
</head>
<body>
{% block content %}{% endblock %}
{#<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>#}
{% block javascript %}{% endblock %}
</body>
<footer>
    <div class="logos">
    <a href="https://spotify.com/" target="_blank"><img src="{{ url_for('static', filename='img/spotify-icon-rgb-green.png') }}" class="spotify-logo logo"></a><!--
    --><p class="vertical"></p><!--
    --><a href="https://github.com/adradan/flaskRandomizer" target="_blank"><img src="{{ url_for('static', filename='img/GitHub-Mark-Light-64px.png') }}" class="github-logo logo"></a>
</div>
</footer>
</html>