{% extends 'base.html' %}
{% block title %}Confirmation{% endblock %}
{% block javascript %}
    <script src="{{ url_for('static', filename='js/confirmation.js') }}"></script>
{% endblock %}
{% block content %}
    <h1>This is You.</h1>
    <div class="correct-div">
        <ul>
        {% for name in correct %}
            <li>{{ name }}</li>
        {% endfor %}
        </ul>
    </div>
    <div class="no-match-div">
        <h3 class="error no-match">These artists were corrected, confirm they are correct.</h3>
        <ul>
        {% for name in no_match %}
            <li>{{ name }}&emsp;
                <input type="checkbox" id="match-checkbox-{{ loop.index0 }}" class="match-check">
                <input type="text" class="match-text" id="match-text-{{ loop.index0 }}">
            </li>
        {% endfor %}
        </ul>
    </div>
    <div class="no-result-div">
        <h3 class="error no-result">These artists were not found, please provide replacements.</h3>
        <ul>
        {% for name in no_result %}
            <li>{{ name }}&emsp;<input type="text" id="correct-{{ loop.index0 }}" class="correct-input"/></li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}