{% extends 'base.html' %}
{% block title %}This is You{% endblock %}
{% block content %}
    <div class="form-col">
    <form action="" method="post" class="form">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input type="text" id="artist-1" name="artist-1" class="artist-input" required><button type="button" class="btn-add-input">+</button>
        <button type="submit" class="submit-btn">Submit</button>
    </form>
    </div>
    </form>
    <button type="button" id="test-button">TEST</button>
{% endblock %}
{% block javascript %}
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}