{% extends 'base.html' %}

{% block title %}This is You{% endblock %}
{% block stylesheet %}<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/home.css') }}"{% endblock %}

{% block content %}
    <div class="header">
        <h1>This is You.</h1>
    </div>
    <div class="form-col">
        <form action="" method="post" class="form">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div id="artist-div-1" class="input-div">
                <label for="artist-1">Artist 1</label>
                <input type="text" id="artist-1" name="artist-1" class="artist-input" autocomplete="off" required><button type="button" class="btn-add-input">+</button>
            </div>
            <button type="submit" class="submit-btn">Submit</button>
        </form>
    </div>
{% endblock %}
{% block javascript %}
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}